backports.weakref
bleach
certifi
click
cycler
decorator
entrypoints
Flask
flask_bootstrap
html5lib
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
jsonschema
lxml
Markdown
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
numpy
olefile
opencv-python
pandocfilters
pexpect
pickleshare
Pillow
prompt-toolkit
protobuf
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
pyzmq
qtconsole
simplegeneric
six
tensorflow
terminado
testpath
tornado
traitlets
urllib3
wcwidth
Werkzeug
widgetsnbextension
